{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load staticfiles %}

{% block csscontent %}
{% render_bundle "login" "css" %}<!-- login stylesheet -->
{% render_bundle "common" "css" %}<!-- login stylesheet -->
{% endblock csscontent %}

{% block jscontent %}
<script>
var django = {
    csrf_token: "{{ csrf_token }}"
};
</script>
{% endblock jscontent%}

{% block bodycontent %}
    <div id="wrapper">
    </div>

{% render_bundle 'common' 'js' %}
{% render_bundle 'login' 'js' %}
{% endblock bodycontent %}
